#header{
    background: #ff0000;
    height: 32px;
    color: #999;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    float: left;
    color: white;
}
#login-contain a{
    margin-left: 20px;
    color: white;
}
#header-menu{
    line-height: 10px;
    font-weight: 100;
    font-size: 12px;
    float: right;
    color: #999;
}
#header-menu a{
    color: white;
    font-weight: 100;
    font-size: 12px;
}
#header-menu .menu{
    float: left;
    padding: 12px;
    position: relative;

}
#header-menu .menu-hd:hover .menu-sub{
    display: block;
}
#header-menu .iconfont{
    font-size: 13px;
}
#header-menu :hover a{
    color: yellow;
}
#header-menu :hover i{
    color: yellow;
}
#header-menu .menu-hd:hover{
    background: white;
}
#header-menu .menu-hd:hover a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-hd:hover .iconfont{
    color: red;
    text-decoration: underline;
}
#header-menu i{
    color: white;
}
#header-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #ddd;
    position: absolute;
    right: 4px;
    top:16px;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover::after{
    transform: rotate(180deg);
    transition: transform .2s linear;
}
body{
    height: 2000px;
    background: #f5f5f5;
}
#header-menu .menu-hd .menu-sub{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100px;
    display: none;
}
#header-menu .menu-hd .menu-sub li{
    padding: 5px 11px;
}
#header-menu .menu-hd .menu-sub a:hover{
    color:#f00;
    text-decoration: underline;
}
#header-menu .menu-hd .menu-sub a{
    color: #999;
    text-decoration: none;
}
#header-menu .menu-hd .menu-sub h1{
    top: 0px;
    padding:0  11px;
    font-size: xx-small;
}
#header-menu .menu:hover a span{
    color:#fff;
}
#header-menu .menu a:hover span{
    color:yellow;
}
#search{
    height: 128px;
    margin-left: 0;
}
#search img{
    width: 240px;
    float: left;
}
#search-contain{
    float: left;
    margin-top: 40px;
    margin-left: 90px;

}
#search-contain .search-list li{
    float: left;

}
#search-contain .search-input{
    border: 2px solid #ff2736;
    height: 36px;
}
#search-contain .search-input input::placeholder{
    color:#666;
    font: 17px/22px arial;

}
#search-contain .search-input input{
    width: 490px;
    height: 36px;
    outline: none;
    border: 0;
    float: left;
    text-indent: 10px;
}
#search-contain .search-input button{
    width: 132px;
    height: 36px;
    border: 0;
    background: #ff2736;
    color: #fff;
    float: left;
    font-size: 18px;
    outline: none;
}
#search-contain .search-list{
    padding: 8px 0 0;
}
#search-contain .search-list a{
    color: #cccccc;
    font-size: 14px;

}
#search-contain .search-list li{
    border-left: 1px solid #ccc;
    line-height: 1.1;
    padding: 0 12px;
    margin-top: 5px;
}
#search-contain .search-list li.first{
    border-left: 0;
    padding-left: 0;
}
#search-contain .search-list .list-r a{
    color: #ff0000;
}
#content{
    margin-left: 280px;
    height: 30px;
}
#content img{
    width: 100px;
    float: left;
    margin-right:20px;
}
#content ul{
    float: left;
    margin-top: 4px;
}
#content li{
    float: left;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 100;
}
#banner{
    position: relative;
    border-top: 2px solid #f00;
}
#banner .banner-img li a{
    display: block;
    width: 1230px;
    margin: 0 auto;
}
#banner li a img{
    width: 100%;
}
#banner .nav{
    position: absolute;
    background: rgba(0,0,0,.5);
    /*opacity: .2;*/
    top:-31px;
    margin-left: 20px;
    /*float: left;*/

}
#banner .nav li.product{
    background: #ff0000;
    font-size: 16px;
}
#banner .nav li.product i{
    font-size: 20px;
}
#banner .nav >li{
    width: 200px;
    height: 31px;
    line-height: 31px;
    color:#fff;
}
#banner .nav > li > a{
    color:#fff;
    font-weight: 100;
}
#banner .nav li i{
    margin: 0 10px;
}
#banner .nav li.product{
    background: #ff0000;
    font-size: 16px;
}
#banner .nav li.product i{
    font-size: 20px;
}
#banner .nav li.red:hover,#banner .nav li.red:hover > a{
    color:red;
}
#banner .nav li.blue:hover,#banner .nav li.blue:hover > a{
    color:blue;
}
#banner .nav li.yellow:hover ,#banner .nav li.yellow:hover > a{
    color:yellow;
}
#banner .banner-menu{
    position: absolute;
    top:31px;
    left:200px;
    /*background: #fff;*/
    width: 852px;
    height: 500px;
    display: none;
}
#banner .nav li:not(.product):hover{
    background: white;
}
#banner .nav li:not(.product):hover .banner-menu{
    display: block;
}
#banner .banner-left > li{
    margin: 10px 0;
}
#banner .banner-menu .banner-left{
    background: white;
    width: 643px;
    height: 500px;
    float: left;
}
#banner .banner-menu .banner-right{
    background: #cccccc;
}
#banner .banner-menu .banner-menu-head{
    margin-top: 4px;
    float: left;
}
#banner .banner-menu .banner-menu-head a{
    font-size: 14px;
    margin: 0 20px;
    color: black;
    font-weight: bold;
}
#banner .banner-menu .banner-menu-list ul{
    width: 493px;
    float: left;
    line-height: 12px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    font-size: 12px;
}
#banner .banner-menu-list li{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#banner .banner-menu .banner-right img{
    float: left;
    margin-top: 15px;
    margin: 0 1px 1px 0;
    background: #cccccc;
}
#brand{
    background-color: #f5f5f5;
    margin-top: 20px;
}
#brand img{
    float: left;
}
#brand .title{
    height: 55px;
    background: #ffffff;
    line-height: 55px;
    font-size: 18px;
    padding: 0 10px;
}
#brand .title a{
    background: url('../../img/more.png')no-repeat;
    background-position: right center;
    display: block;
    background-size: 20px 20px;
    display: block;
    width: 56px;
    height: 54px;
    float: right;

}
#brand .brand-type.brand1{
    width: 234px;
    float: left;
    margin-right: 13px;
}
#brand .brand-type.brand2{
    width: 485px;
    float: left;
    margin-right: 13px;
}
#brand .brand-type.brand3{
    width: 485px;
    float: left;
}
#list-pic ul{
    margin-top: 20px;
    float: left;
}
#list-pic .pic{
    float: left;
    width: 122px;
    height: 108px;
    position: relative;
    margin: 1px 1px 0 0;
    background: #fff;
}
#list-pic li{
    /*width: 122px;*/
    /*height: 108px;*/
    /*background: white;*/
    /*margin: 1px 1px 0 0;*/
}
#list-pic .pic img {
    width: 82%;
    height: 50px;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
#list-pic .pic:hover a{
    display: block;
}
#list-pic .pic a{
    width: 100%;
    height: 100%;
    /*display: block;*/
    position: absolute;
    background: rgba(0,0,0,.5);
    z-index:1;
    display: none;
}
#list-pic .pic a div{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    color:#fff;
}
#list-pic .pic a div span{
    background: #ff0000;
    border-radius: 10px;
    padding: 2px 5px;
}
#list-pic .pic h6{
    padding: 2px;
}
#list-pic .hyh{

}
#xxx .hhh{
    float: left;
    margin-top: 30px;
    width: 1230px;
}
#xxx .left img{
    float: left;
    width: 214px;
    height: 25px;
}
#xxx .right a{
    color: black;
}
#xxx .right li{
    float: right;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
}
#xxx .right li:hover a{
    text-decoration: underline;
}